h1
{
    background-color: black;
    color: white;
}
p
{
    color: orange;
    background-color: green;
}
h1,p
{
    background-color: black;
    color: red;
}

.h3p
{
    color: orangered;
    background-color: cyan;
}
